.favoriteProducts{
  display: flex;
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto; 
}

.boxEmptyFavorite{
  padding: 100px;
  flex-direction: column;
}

.nullFavorite{
  max-height: 300px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
 }